<h1>Edit Investment</h1>

<h1><%=@investment.company_name%></h1>
    <p>%=@investment.amount_invested%></p>
    <p>%=@investment.years_until_return%></p>

<form action="/investments/<%=@investment.id%>/edit" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch"></input>

  Company Name:
  <input type="text" name="investment[company_name]"></input>
  

  Amount Invested:
  <input type="text" name="investment[amount_invested'"></input>

  Years Until Return:
  <input type="text" name="investment[years_until_return]"></input>

  Create Your Investment:


  <input type="submit" id="submit" value="submit">

  <p><a href="/logout">Log Out</a></p>

</form>
</body>
</html>