<h1>Edit Investment</h1>

<form action="/investments/<%=@investment.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch"></input>
  Company:
  <input type="text" id="company_name" name="company_name"></input>

  Amount Invested:
  <input type="text" id="amount_invested" name="amount_invested"></input>

  Years Until Return:
  <input type="text" id="years_until_return" name="years_until_return"></input>

  Create Your Investment:


  <input type="submit" id="submit" value="submit">
</form>
</body>
</html>