

  <h1>Welcome </h1>

  <%@investments.each do |investment|%>
    <li><a href="investments/<%=investment.id%>">Company Name: <%=investment.company_name%></a></li> 
    <p>Amount Invested: <%=investment.amount_invested%></p>
    <p>Years Until Return: <%=investment.years_until_return%></p>
      
  <%end%>


  <p><a href="/investments/new">Click To Add a New Investment</a></p>

  <p><a href="/logout">Log Out</a></p>
  

