<form action='/investments/new' method="post">
<label>Company Name: </label>
<input type="text" name="company_name"><br>

<label>Amount Invested: </label>
<input type="text" name="amount_invested"><br>

<label>Years Until Return: </label>
<input type="text" name="years_until_return"><br>

<p>Create Your Investment: </p>

<input type="submit" id="submit">

<p><a href="/logout">Log Out</a></p>



</form>