<form action='/investments/new' method="post">
Company Name:
<input type="text" name="company_name"><br>

Amount Invested
<input type="text" name="amount_invested"><br>

Years Until Return
<input type="text" name="years_until_return"><br>

Create Your Investment:

<input type="submit" id="submit">

<p><a href="/logout">Log Out</a></p>



</form>