<h1>Sign up Page</h1>

  <form action="/signup" method="POST">

    <label>First Name:</label>
    <input type="text" id="investor_first_name" name="investor[first_name]"></input>

    <label>Last Name:</label>
    <input type="text" id="investor_last_name" name="investor[last_name]"></input>

    <label>Email:</label>
    <input type="text" id="investor_email" name="investor[email]"></input>

    <label>Password:</label>
    <input type="text" id="investor_password" name="investor[password]"></input>

    <input type="submit" value="Sign up">



  </form>