<!DOCTYPE html>

<html>
    <body>

        <h1> Welcome To Your Venture Capitalist Page </h1>

        <p><a href="/signup">New User</a></p>

        <p><a href="/login">Existing User</a>


        <h2> Here is where you can keep track of your investments and your returns!</h2>
    </body>

</html>